.Project {
  background-color: #212121;
  width: 100vw;
}

.prohomeCards {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.prohomeCards > h3 {
  text-align: center;
  color: rgba(22, 20, 20, 0.904);
  padding: 4vmax;
}

.prohomeCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vmax;
  width: 80%;
  margin: auto;
  margin-top: 1.2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
