.navbar {
  position: fixed;
  margin-top: 1rem;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
  z-index: 9999;
}

.navigations {
  /* width: 70%; */
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1rem;
}

.role {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  width: 5rem;
  height: 3rem;
  border-radius: 5rem;
  background-color: var(--tertiary);
  color: var(--primary);
  transition: all 0.3s ease;
}

.role:hover {
  cursor: pointer;
  color: var(--tertiary);
  background-color: var(--primary);
  transition: all 0.3s ease;
}

.list {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.list li {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--tertiary);
  text-align: center;
  flex: 1;
  position: relative;
  margin: 0rem 1.5rem;
}

.movingBar {
  position: absolute;
  top: 60px;
  left: 0;
  width: 3rem;
  height: 6px;
  border-radius: 1rem;
  background-color: var(--tertiary);
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navigations {
    width: 70%;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    margin-right: 0rem;
  }

  .list {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .role {
    font-size: 1.3rem;
    width: 4rem;
    height: 2.5rem;
  }

  .movingBar{
    display: none;
  }

  .list li {
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--tertiary);
    text-align: center;
    flex: 1;
    position: relative;
    margin: 0rem 0.5rem;
  }
}
