* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: 'Incognito Pro Regular';
  background-color: #f5f5f5;
}

body .popup-open {
  overflow: hidden;
}

@font-face {
  font-family: 'Incognito Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('Incognito-Pro.woff')
}
    