.header {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1vmax;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.329);
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.background img {
  width: 100%;
  object-fit: cover;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50rem;
  background-color: #fafafa;
  padding: 0.4rem;
  margin-top: 1rem;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);
  animation: box-shadow-animation 2s infinite;
}

@keyframes box-shadow-animation {
  0% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }
}

a {
  text-decoration: none;
  color: rgba(22, 20, 20, 0.904);
  color: #fff;
  font-size: small;
  font-weight: 600;
}

.headerLeft {
  width: 100%;
  padding: 0;
}

/* add button css */

.buttonAdd {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.buttonAdd,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.buttonAdd .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.buttonAdd .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdd .svg {
  width: 30px;
  stroke: #fff;
}

.buttonAdd:hover {
  background: #34974d;
}

.buttonAdd:hover .button__text {
  color: transparent;
}

.buttonAdd:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.buttonAdd:active .button__icon {
  background-color: #2e8644;
}

.buttonAdd:active {
  border: 1px solid #2e8644;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 1rem;
  font-weight: 600;
  color: #313131;
}

.logout{
  margin: 0 0 0 0;
}

.logout button{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ff5858;
  color: #ededed;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.329);
}

.add{
  margin: 0 1rem 0 0;
}

.add button{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #63ff63;
  color: #5c5c5c;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.329);
}

.add button:hover{
  transition: all 0.3s ease-in-out;
  background-color: #5c5c5c;
  color: #63ff63;
}

.logout button:hover{
  transition: all 0.3s ease-in-out;
  background-color: #5c5c5c;
  color: #ff5858;
}

.users{
  margin: 0 1rem 0 0;
}

.users div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #79bcff;
  color: #5c5c5c;
  border: none;
  outline: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.329);
  transition: all 0.3s ease-in-out;
}

.users div:hover{
  transition: all 0.3s ease-in-out;
  background-color: #5c5c5c;
  color: #79bcff;
}

.users p{
  margin: 0;
  padding: 0;
}

.users p:first-child{
  font-size: 0.8rem;
  font-weight: 400;
}

.users p:last-child{
  font-size: 1rem;
  font-weight: bolder;
}

