#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  --black : #191919;
  --white : #d8d8d8;
  --extra-white : #f8f8f8;
  --light-gray : #d9d9d9;
  --gray : #808080;
  --primary : #985ea6;
  --secondary : #DA498D;
  --tertiary : #F9E6CF;

  background-color: var(--extra-white);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
