body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.model {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modelHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.modelTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
}

.modelTitle h3 {
  width: 90%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: #5e5e5e;
  font-size: 3rem;
  font-weight: bold;
}

.imageDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
  background-color: #fff;
  color: #212121;
  border-radius: 0.5rem;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  padding: 1rem;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  overflow-y: hidden;
}

.content h2{
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.content span{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1.2rem;
}

.skills li{
  margin-left: 1rem;
  background-color: #e6e6e6;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  font-weight: bolder;
  border-radius: 1rem;
}

.description p {
  display: flex;
  flex-direction: column;
  color: #353535;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.horizontal {
  background-color: #5d5d5d;
  width: 100%;
  height: 0.1rem;
}

.CommentBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #5d5d5d;
  padding-top: 2rem;
}

.commentSection {
  background-color: #e6e6e6;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem;
  margin-bottom: 0;
  padding: 3rem;
}

.startThread {
  width: 12rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #6cff67;
  color: #353535;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.7rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.block {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 0.4rem;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 2rem;
  margin-right: 0.3rem;
}

.contentBlock {
  display: flex;
  flex-direction: column;
}

.btncontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btncontent button {
  display: flex;
  height: 1.5rem;
  align-items: center;
  margin-left: 0.3rem;
  background-color: #62b3ff;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.btncontent input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.6rem;
  border: none;
  outline: none;
  font-size: 0.7rem;
  margin: 0;
}

.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: larger;
  font-weight: bold;
  color: #ededed;
  font-size: 3rem;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: #212121;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
